*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-image: url('./media/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000de;
    background-blend-mode: multiply;
    color: #fff;
}

/* HEADER */

header {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 70px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 300;
}

header p {
    font-size: 16px;
    font-weight: 200;
}

/* SECTION */

section {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: min(1500px, 80%);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.bot-card {
    width: 250px;
    height: 300px;
    border-radius: 30px;
}

.bot-card:nth-child(1) {
    background: url('./media/Melconchita.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bot-card:nth-child(2) {
    background: url('./media/Cathy.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bot-card:nth-child(3) {
    background: url('./media/RAE.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bot-card:nth-child(4) {
    background: url('./media/Countdown.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bot-description {
    width: 100%;
    height: 100%;
    color: transparent;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.bot-description:hover {
    background-color: #ffffffd2;
    color: #000;
}

.bot-description h4 {
    font-size: 30px;
    font-weight: 600;
}

.bot-description p {
    font-size: 20px;
    font-weight: 400;
}

/* FOOTER */

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 300;
}

footer span {
    color: #4e0117;
    font-weight: 500;
    margin-left: 10px;
    cursor: pointer;
    font-size: 27px;
}

footer span:hover {
    font-weight: 700;
}

/* RESPONSIVE  */

@media (max-width: 600px) {
    body {
        background-color: #000000b5;
    }

    h1 {
        font-size: 40px;
        font-weight: 600;
    }
    
    h3 {
        font-size: 15px;
        font-weight: 300;
        padding: 0 15px;
    }

    header p {
        font-size: 14px;
        font-weight: 200;
    }

    .container {
        box-sizing: border-box;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        padding: 40px 0;
    }

    .bot-description h4 {
        font-size: 20px;
    }
    
    .bot-description p {
        font-size: 14px;
    }

    .bot-card {
        width: 150px;
        height: 180px;
        border-radius: 20px;
    }

    footer {
        font-size: 12px;
    }

    footer span {
        font-size: 18px;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    h1 {
        font-size: 60px;
        font-weight: 600;
    }
    
    h3 {
        font-size: 15px;
        font-weight: 300;
        padding: 0 15px;
    }

    header p {
        font-size: 14px;
        font-weight: 200;
    }

    .container {
        box-sizing: border-box;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1fr);
        width: 100%;
    }

    .bot-card {
        width: 60%;
        height: 40%;
        border-radius: 30px;
    }
    
    .bot-card:nth-child(1) {
        background-position: center;
    }

    .bot-card:nth-child(2) {
        background-position: center;
    }

    .bot-card:nth-child(3) {
        background-position: center;
    }

    .bot-card:nth-child(4) {
        background-position: center;
    }

    .bot-description h4 {
        font-size: 20px;
    }
    
    .bot-description p {
        font-size: 14px;
    }

    footer {
        font-size: 16px;
    }

    footer span {
        font-size: 24px;
    }
}

@media (min-width: 1201px) and (max-width: 1380px) {
    h1 {
        font-size: 60px;
        font-weight: 600;
    }
    
    h3 {
        font-size: 15px;
        font-weight: 300;
        padding: 0 15px;
    }

    .container {
        box-sizing: border-box;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1fr);
        width: 100%;
    }

    .bot-card {
        width: 70%;
        border-radius: 30px;
    }
    
    .bot-card:nth-child(1) {
        background-position: center;
    }

    .bot-card:nth-child(2) {
        background-position: center;
    }

    .bot-card:nth-child(3) {
        background-position: center;
    }

    .bot-card:nth-child(4) {
        background-position: center;
    }

    .bot-description h4 {
        font-size: 20px;
    }
    
    .bot-description p {
        font-size: 14px;
    }

    footer {
        font-size: 16px;
    }

    footer span {
        font-size: 24px;
    }
}